<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/basic/listOutputPractice}" method="post">
    <table>
        <thead>
        <tr>
            <th>Item</th>
            <th>Select</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td><input type="checkbox" th:name="'selectedItems'" th:value="${item.id}"/></td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Submit</button>
</form>

</body>
</html>